@{
    ViewBag.Title = "All Fridge Models";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FridgeProject.Abstract.Data.FridgeModel
<h2>Fridge Models</h2>

<button class="btn btn-outline-primary btn-sm font-weight-bold text-dark">
    <a class="font-weight-bold text-dark" href="/FridgeModel/TakeAll"> Back to Fridge Models </a>
</button>
<table class="table mt-3 text-center">
    <thead class="thead-light">
        <tr>
            <th>
                Title
            </th>
            <th>
                Year
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>


    <tr>
        <td>
            @Html.DisplayFor(modelItem => Model.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => Model.Year)
        </td>
        <td>
            <button class="btn btn-outline-primary btn-sm ">
                <a class="font-weight-bold text-dark" href="/FridgeModel/Update/@Model.Id"> Edit </a>
            </button>   |

            <button class="btn btn-outline-danger btn-sm font-weight-bold text-dark" onclick="ConfirmModal('@Model.Id')">
                Delete
            </button>
<td>
    </tr>


</table>

<input type="hidden" id="selectedFridgeModel" />

<div class="modal" tabindex="-1" role="dialog" id="deletingFridgeModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Deliting Fridge Model</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <h3>Are you shure?</h3>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnDeleteFridgeModel" class="btn btn-danger font-weight-bold text-dark" onclick=Delete()>
                    Yes, Delete
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick=Back()>Back</button>
            </div>
        </div>
    </div>
</div>

<script>
    var Back = function () {
        $('#deletingFridgeModel').modal('hide');
    };

    var ConfirmModal = function (id) {
        $('#deletingFridgeModel').modal('show');
        $('#selectedFridgeModel').val(id);
    };

    var Delete = function () {
        let id = $('#selectedFridgeModel').val();
        window.location.href = ('/FridgeModel/Delete/' + id);
    };

</script>