@{
    ViewBag.Title = "ExistedProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model FridgeWithExistedProducts


<h2>Products to Take from @Model.Fridge.Title</h2>
<button class="btn btn-outline-primary btn-sm font-weight-bold text-dark mr-4">
    <a class = "font-weight-bold text-dark" href="/Fridge/TakeById/@Model.Fridge.Id"> Back to Fridge </a>
</button>
<table class="table mt-3 text-center w-75">
    <thead class="thead-light">
        <tr>
            <th>
                Title
            </th>
            <th>
                Quantity
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>

    @foreach (var item in Model.ExistedProducts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <button class="btn btn-outline-primary btn-sm font-weight-bold text-dark">
                    <a class="font-weight-bold text-dark" href="/Fridge/SelectedExistedProduct/@item.Id/@Model.Fridge.Id"> Select </a>
                </button>
            <td>
        </tr>
    }
</table>
