@{
    ViewData["Title"] = "Error!";
}

<div class="text-center">
    <h1 class="display-4">Warning! Error!</h1>
    <h2 class="mt-2">CODE:403 Access Denied.</h2>
    <h3 class="mt-3">The Access to this page was denied! </h3>
    <h3 class="mt-3"> This page can be used only by Administrator,</h3>
    <h3 class="mt-3">please log in as Administrator to have the accsess or call your Administrator! </h3>
    <h3 class="mt-5">To go back just click "Go Back". To go to the LogIn page click "LogIn" </h3>
    <div class="mt-2 row form-group">
        <button onclick="history.back()" class=" btn-outline-primary mb-2">Go Back</button>
        <button class="btn btn-outline-primary btn-sm text-left mb-2 ">
            @Html.ActionLink("LogIn", "Login","Account", new { @class = "font-weight-bold text-dark" })
        </button>
    </div>
</div>
