@{
    ViewData["Title"] = "Error!";
}

<div class="text-center">
    <h1 class="display-4">Warning! Error! </h1>
    <h2 class="mt-2">Something went Wrong!</h2>
    <h3 class="mt-3">Try to complete your querry later </h3>
    <h3 class="mt-3"> or call your Administrator!</h3>



    <h3 class="mt-5">To go back just click "Go Back". </h3>
    <div class="mt-2 row form-group">
        <button onclick="history.back()" class=" btn-outline-primary mr-3">Go Back</button>
    </div>
</div>
